@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#F3F4F6];
}

/* Smooth transitions */
button,
a {
  @apply transition-colors duration-200;
}

/* Selection */
::selection {
  background-color: #F97316;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: #F97316;
  color: #FFFFFF;
}
